<div class="q-question" *ngFor="#qq of qquestions">
    <div class="form-group">
        <div class="col-xs-12  col-md-2">
            <button type="button" class="btn btn-default move-form-question-button">
                <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
            </button>
            <button (click)="removeQQuestionClick(qq)" type="button" class="btn btn-default remove-form-question-button">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default collapse-form-button" data-toggle="collapse" [attr.data-target]="'#collapsed-container-' + qq.cid">
                <span class="glyphicon {{ qq.collapsed ? 'glyphicon-triangle-right' : 'glyphicon-triangle-bottom' }}" area-hidden="true"></span>
                <span class="q-question-collapse-button-title">{{ qq.id }}</span>
            </button>
        </div>
        <div class="col-xs-12  col-md-10">
            <textarea [(ngModel)]="qq.text" class="form-control q-question-name" placeholder="name">{{ qq.text }}</textarea>
        </div>
    </div>

    <div id="collapsed-container-{{ qq.cid }}" class="collapse in q-question-collapsible-container">
        <div class="form-group">
            <div class="col-xs-10 col-xs-offset-2">
                <div class="checkbox">
                    <label>
                        <input [(ngModel)]="qq.checked" type="checkbox" class="q-question-enabled">Enabled
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-10 col-xs-offset-2">
                <div class="checkbox">
                    <label>
                        <input [(ngModel)]="qq.required" type="checkbox" class="q-question-required">Required
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">Id</label>
            <div class="col-xs-10">
                <input [(ngModel)]="qq.id" type="text" class="form-control q-question-id" placeholder="id" [attr.area-describedby]="'view-' + qq.cid + '-idHelpBlock'">
                <span id="view-{{ qq.cid }}-idHelpBlock" class="help-block"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">ChoiceType</label>
            <div class="col-xs-10">
                <select [(ngModel)]="qq.choiseType" name="choiceType" class="form-control q-question-choice-type">
                    <option value="m">Multiple</option>
                    <option value="s">Single</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">Formula</label>
            <div class="col-xs-10">
                <input [(ngModel)]="qq.formula" type="text" class="form-control q-question-formula" placeholder="formula" [attr.aria-describedby]="'view-' + qq.cid + '-formulaHelpBlock'">
                <span id="view-{{ qq.cid }}-formulaHelpBlock" class="help-block"></span>
            </div>
        </div>

        <div class="image-component">
            <div class="form-group" [class.has-error]="qq.image.hasError">
                <label class="col-xs-2 col-md-2 control-label">Image</label>
                <div class="col-xs-3 col-md-3">
                    <input (change)="qq.imageFileChange($event)" type="file" class="ic-file" [attr.aria-describedby]="'view-' + qq.cid + '-fileHelpBlock'">
                    <button (click)="qq.imageFileClear($event)" type="button" class="ic-clear-button">Clear</button>
                    <span *ngIf="qq.image.hasError" id="view-{{ qq.cid }}-fileHelpBlock" class="help-block">
                        File is not an image.
                    </span>
                </div>
                <div class="col-xs-7 col-md-7 ic-image-container">
                    <img *ngIf="qq.image.source" src="{{ qq.image.source }}" class="ic-image" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-10 col-xs-offset-2">
                <div class="answers">
                    <div class="q-answer" *ngFor="#answer of qq.getAnswers()">
                        <!--################################# A N S W E R ###################################-->
                        <div class="form-group">
                            <div class="col-xs-12  col-md-3">
                                <button type="button" class="btn btn-default move-form-answer-button">
                                    <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
                                </button>
                                <button (click)="qq.removeAnswer(answer)" type="button" class="btn btn-default remove-form-answer-button">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default collapse-form-button"  data-toggle="collapse" [attr.data-target]="'#collapsed-container-' + answer.cid">
                                    <span class="glyphicon {{ answer.collapsed ? 'glyphicon-triangle-right' : 'glyphicon-triangle-bottom' }}" area-hidden="true"></span>
                                    <span class="q-answer-collapse-button-title">{{ answer.id }}</span>
                                </button>
                            </div>
                            <div class="col-xs-12  col-md-9">
                                <input [(ngModel)]="answer.text" type="text" class="form-control q-answer-name" placeholder="name">
                            </div>
                        </div>

                        <div id="collapsed-container-{{ answer.cid }}" class="collapse in q-answer-collapsible-container">

                            <div class="form-group">
                                <label class="col-xs-3 control-label">Id</label>
                                <div class="col-xs-9">
                                    <input [(ngModel)]="answer.id" type="text" class="form-control q-answer-id" placeholder="id" [attr.area-describedby]="'view-' + answer.cid + '-idHelpBlock'">
                                    <span id="view-{{ answer.cid }}-idHelpBlock" class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-3 control-label">Score</label>
                                <div class="col-xs-9">
                                    <input [(ngModel)]="answer.score" type="text" class="form-control q-answer-score" placeholder="score">
                                </div>
                            </div>

                        </div>
                        <!--################################## E N D ### A N S W E R #####################################-->
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-2">
                <button (click)="qq.addAnswer()" type="button" class="q-add-answer btn btn-default">Add answer</button>
            </div>
            <div class="col-cs-10"></div>
        </div>
    </div>
</div>