<div class="form-group">
    <div class="col-xs-12  col-md-2">
        <button type="button" class="btn btn-default move-form-question-button">
            <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
        </button>
        <button (click)="parentEntity.removeQuestion(item)" type="button" class="btn btn-default remove-form-question-button">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        <button (click)="item.collapse($event)" type="button" class="btn btn-default collapse-form-button" data-toggle="collapse" [attr.data-target]="'#collapsed-container-' + item.cid">
            <span class="glyphicon" [class.glyphicon-triangle-bottom]="!item.collapsed" [class.glyphicon-triangle-right]="item.collapsed" area-hidden="true"></span>
            <span class="q-question-collapse-button-title">{{ item.id }}</span>
        </button>
    </div>
    <div class="col-xs-12  col-md-10">
        <textarea [(ngModel)]="item.text" class="form-control q-question-name" placeholder="name">{{ item.text }}</textarea>
    </div>
</div>

<div id="collapsed-container-{{ item.cid }}" class="collapse in q-question-collapsible-container">
    <div class="form-group">
        <div class="col-xs-10 col-xs-offset-2">
            <div class="checkbox">
                <label>
                    <input [(ngModel)]="item.checked" type="checkbox" class="q-question-enabled">Enabled
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-10 col-xs-offset-2">
            <div class="checkbox">
                <label>
                    <input [(ngModel)]="item.required" type="checkbox" class="q-question-required">Required
                </label>
            </div>
        </div>
    </div>

    <div class="form-group" [class.has-error]="item.haveEqualIdError">
        <label class="col-xs-2 control-label">Id</label>
        <div class="col-xs-10">
            <input (keyup)="validateIdUnique($event)" [(ngModel)]="item.id" type="text" class="form-control q-question-id" placeholder="id" [attr.area-describedby]="'view-' + item.cid + '-idHelpBlock'">
            <span *ngIf="item.haveEqualIdError" id="view-{{ item.cid }}-idHelpBlock" class="help-block">
                Id '{{ item.id }}' is already used
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-2 control-label">ChoiceType</label>
        <div class="col-xs-10">
            <select [(ngModel)]="item.choiseType" name="choiceType" class="form-control q-question-choice-type">
                <option value="m">Multiple</option>
                <option value="s">Single</option>
            </select>
        </div>
    </div>

    <div class="form-group" [class.has-error]="item.haveFormulaError">
        <label class="col-xs-2 control-label">Formula</label>
        <div class="col-xs-10">
            <input (keyup)="validateIdExists($event)" [(ngModel)]="item.formula" type="text" class="form-control q-question-formula" placeholder="formula" [attr.aria-describedby]="'view-' + item.cid + '-formulaHelpBlock'">
            <span *ngIf="item.haveFormulaError" id="view-{{ item.cid }}-formulaHelpBlock" class="help-block">
                Unknown identifiers: {{ invalidIdentifiers }}
            </span>
        </div>
    </div>

    <div class="alert-options">

        <div class="form-group">
            <label class="col-xs-3  col-md-2  control-label">AlertCondition</label>
            <div class="col-xs-9  col-md-10">
                <input [(ngModel)]="item.alertOptions.condition" type="text" class="ac-alertCondition form-control" placeholder="alert condition" value="" [attr.aria-describedby]="'view-' + item.cid +'-conditionHelpBlock'">
                <span id="view-{{ item.cid }}-conditionHelpBlock" class="help-block"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-3  col-md-2  control-label">AlertText</label>
            <div class="col-xs-9  col-md-10">
                <input [(ngModel)]="item.alertOptions.text" type="text" class="ac-alertText form-control" placeholder="alert text" value="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-3  col-md-2  control-label">AlertType</label>
            <div class="col-xs-9  col-md-10">
                <select [(ngModel)]="item.alertOptions.type" class="ac-alertType form-control">
                    <option value="care" selected="">Care</option>
                    <option value="technical" selected="">Technical</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-3  col-md-2  control-label">AlertSeverity</label>
            <div class="col-xs-9  col-md-10">
                <select [(ngModel)]="item.alertOptions.severity" class="ac-alertSeverity form-control">
                    <option value="red" selected="">Red</option>
                    <option value="yellow">Yellow</option>
                    <option value="info">Info</option>
                </select>
            </div>
        </div>
    </div>

    <div class="image-component">
        <div class="form-group" [class.has-error]="item.image.hasError">
            <label class="col-xs-2 col-md-2 control-label">Image</label>
            <div class="col-xs-3 col-md-3">
                <input (change)="item.imageFileChange($event)" type="file" class="ic-file" [attr.aria-describedby]="'view-' + item.cid + '-fileHelpBlock'">
                <button (click)="item.imageFileClear($event)" type="button" class="ic-clear-button">Clear</button>
                    <span *ngIf="item.image.hasError" id="view-{{ item.cid }}-fileHelpBlock" class="help-block">
                        File is not an image.
                    </span>
            </div>
            <div class="col-xs-7 col-md-7 ic-image-container">
                <img *ngIf="item.image.source" src="{{ item.image.source }}" class="ic-image" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-10 col-xs-offset-2">
            <div class="answers">
                <div class="q-answer" *ngFor="#answer of item.getAnswers()">
                    <answer
                            [item]="answer"
                            [parentQuestion]="item"
                    >
                    </answer>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-2">
            <button (click)="item.addAnswer()" type="button" class="q-add-answer btn btn-default">Add answer</button>
        </div>
        <div class="col-cs-10"></div>
    </div>
</div>