<h1 class="text-center" id="q-title">Survey builder</h1>

<div class="form-horizontal">

    <div class="form-group">
        <label class="col-xs-3  col-md-2  control-label" for="q-name">Name</label>
        <div class="col-xs-9  col-md-10">
            <input type="text" class="form-control" id="q-name" placeholder="name" value="{{ questionnaire.name }}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3  col-md-2  control-label" for="q-id">Id</label>
        <div class="col-xs-9  col-md-10">
            <input type="text" class="form-control" id="q-id" placeholder="id" value="{{ questionnaire.id }}" >
            <span id="view-{{ questionnaire.cid }}-idHelpBlock" class="help-block"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3  col-md-2  control-label" for="q-fractionLength">FractionLength</label>
        <div class="col-xs-9  col-md-10">
            <input type="number" class="form-control" id="q-fractionLength" placeholder="fraction length" value="{{ questionnaire.fractionLength }}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3  col-md-2  control-label" for="q-formula">Formula</label>
        <div class="col-xs-9  col-md-10">
            <input type="text" class="form-control" id="q-formula" placeholder="formula" value="{{ questionnaire.formula }}" >
            <span id="view-{{ questionnaire.cid }}-formulaHelpBlock" class="help-block"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3  col-md-2  control-label" for="q-displayingFormat">Format</label>
        <div class="col-xs-9  col-md-10">
            <input type="text" class="form-control" id="q-displayingFormat" placeholder="format" value="{{ questionnaire.displayingFormat }}">
        </div>
    </div>

    <div class="alert-options">

        <div class="form-group">
            <label class="col-xs-3  col-md-2  control-label">AlertCondition</label>
            <div class="col-xs-9  col-md-10">
                <input [(ngModel)]="questionnaire.alertOptions.condition" type="text" class="ac-alertCondition form-control" placeholder="alert condition" value="" [attr.aria-describedby]="'view-' + questionnaire.cid +'-conditionHelpBlock'">
                <span id="view-{{ questionnaire.cid }}-conditionHelpBlock" class="help-block"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-3  col-md-2  control-label">AlertText</label>
            <div class="col-xs-9  col-md-10">
                <input [(ngModel)]="questionnaire.alertOptions.text" type="text" class="ac-alertText form-control" placeholder="alert text" value="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-3  col-md-2  control-label">AlertType</label>
            <div class="col-xs-9  col-md-10">
                <select [(ngModel)]="questionnaire.alertOptions.type" class="ac-alertType form-control">
                    <option value="care" selected="">Care</option>
                    <option value="technical" selected="">Technical</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-3  col-md-2  control-label">AlertSeverity</label>
            <div class="col-xs-9  col-md-10">
                <select [(ngModel)]="questionnaire.alertOptions.severity" class="ac-alertSeverity form-control">
                    <option value="red" selected="">Red</option>
                    <option value="yellow">Yellow</option>
                    <option value="info">Info</option>
                </select>
            </div>
        </div>
    </div>

    <div class="image-component">

        <div class="form-group" [class.has-error]="questionnaire.image.hasError">
            <label class="col-xs-2 col-md-2 control-label">Image</label>
            <div class="col-xs-3 col-md-3">
                <input (change)="questionnaire.imageFileChange($event)" type="file" class="ic-file" [attr.aria-describedby]="'view-' + questionnaire.cid + '-fileHelpBlock'">
                <button (click)="questionnaire.imageFileClear($event)" type="button" class="ic-clear-button">Clear</button>
                <span *ngIf="questionnaire.image.hasError" id="view-{{ questionnaire.cid }}-fileHelpBlock" class="help-block">
                    File is not an image.
                </span>
            </div>
            <div class="col-xs-7 col-md-7 ic-image-container">
                <img *ngIf="questionnaire.image.source" src="{{ questionnaire.image.source }}" class="ic-image">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-9 col-xs-offset-3  col-md-11 col-md-offset-1">
            <div id="sections">
                <qsections-view [qsections]="qsections"></qsections-view>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-9 col-xs-offset-3  col-md-11 col-md-offset-1">
            <div id="questions">
                <qquestions-view [qquestions]="qquestions"></qquestions-view>
            </div>
        </div>
    </div>

    <div class="text-right q-add-button-container">
        <button (click)="addSectionClick()" id="q-add-section" type="button" class="btn btn-default">Add section</button>
        <button (click)="addQuestionnaireQuestionClick()" id="q-add-question" type="button" class="btn btn-default">Add question</button>
        <button (click)="importClick()" id="q-import" type="button" class="btn btn-default">Import</button>
    </div>
</div>

<div class="text-center">
    <button (click)="saveQuestionnaireClick()" id="q-save" type="button" class="btn btn-primary">Save</button>
</div>