<div class="q-section" *ngFor="#qsec of qsections">
    <div class="form-group">

        <div class="col-xs-12  col-md-2">
            <button type="button" class="btn btn-default move-form-section-button">
                <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
            </button>
            <button (click)="removeSectionClick(qsec)" type="button" class="btn btn-default remove-form-section-button">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <button (click)="qsec.collapse()" type="button" class="btn btn-default collapse-form-button" data-toggle="collapse" [attr.data-target]="'#collapsed-container-' + qsec.cid">
                <span class="glyphicon" [class.glyphicon-triangle-bottom]="!qsec.collapsed" [class.glyphicon-triangle-right]="qsec.collapsed" aria-hidden="true"></span>
                <span class="q-section-collapse-button-title">{{ qsec.id }}</span>
            </button>
        </div>

        <div class="col-xs-12  col-md-10">
            <textarea [(ngModel)]="qsec.name" class="form-control q-section-name" placeholder="name"></textarea>
        </div>
    </div>

    <div id="collapsed-container-{{ qsec.cid }}" class="collapse in q-section-collapsible-container">
        <div class="form-group">
            <div class="col-xs-12  col-md-10 col-md-offset-2">
                <div class="checkbox">
                    <label>
                        <input [(ngModel)]="qsec.enabled" type="checkbox" class="q-section-enabled">Enabled
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-12  col-md-2 control-label">Id</label>
            <div class="col-xs-12  col-md-10">
                <input [(ngModel)]="qsec.id" type="text" class="form-control q-section-id" placeholder="id" [attr.aria-describedby]="'view-' + qsec.cid + '-idHelpBlock'">
                <span id="view-{{ qsec.cid }}-idHelpBlock" class="help-block"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-12  col-md-2 control-label">Min required</label>
            <div class="col-xs-12  col-md-10">
                <input [(ngModel)]="qsec.minRequired" type="number" class="form-control q-section-minRequired" placeholder="min required">
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-12  col-md-2 control-label">Formula</label>
            <div class="col-xs-12  col-md-10">
                <input [(ngModel)]="qsec.formula" type="text" class="form-control q-section-formula" placeholder="formula" [attr.aria-describedby]="'view-' + qsec.cid + '-formulaHelpBlock'">
                <span id="view-{{ qsec.cid }}-formulaHelpBlock" class="help-block"></span>
            </div>
        </div>

        <div class="alert-options">

            <div class="form-group">
                <label class="col-xs-3  col-md-2  control-label">AlertCondition</label>
                <div class="col-xs-9  col-md-10">
                    <input [(ngModel)]="qsec.alertOptions.condition" type="text" class="ac-alertCondition form-control" placeholder="alert condition" value="" [attr.aria-describedby]="'view-' + qsec.cid +'-conditionHelpBlock'">
                    <span id="view-{{ qsec.cid }}-conditionHelpBlock" class="help-block"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3  col-md-2  control-label">AlertText</label>
                <div class="col-xs-9  col-md-10">
                    <input [(ngModel)]="qsec.alertOptions.text" type="text" class="ac-alertText form-control" placeholder="alert text" value="">
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3  col-md-2  control-label">AlertType</label>
                <div class="col-xs-9  col-md-10">
                    <select [(ngModel)]="qsec.alertOptions.type" class="ac-alertType form-control">
                        <option value="care" selected="">Care</option>
                        <option value="technical" selected="">Technical</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3  col-md-2  control-label">AlertSeverity</label>
                <div class="col-xs-9  col-md-10">
                    <select [(ngModel)]="qsec.alertOptions.severity" class="ac-alertSeverity form-control">
                        <option value="red" selected="">Red</option>
                        <option value="yellow">Yellow</option>
                        <option value="info">Info</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="image-component">

            <div class="form-group" [class.has-error]="qsec.image.hasError">
                <label class="col-xs-2 col-md-2 control-label">Image</label>
                <div class="col-xs-3 col-md-3">
                    <input (change)="qsec.imageFileChange($event)" type="file" class="ic-file" [attr.aria-describedby]="'view-' + qsec.cid + '-fileHelpBlock'">
                    <button (click)="qsec.imageFileClear($event)" type="button" class="ic-clear-button">Clear</button>
                    <span *ngIf="qsec.image.hasError" id="view-{{ qsec.cid }}-fileHelpBlock" class="help-block">
                        File is not an image.
                    </span>
                </div>
                <div class="col-xs-7 col-md-7 ic-image-container">
                    <img *ngIf="qsec.image.source" src="{{ qsec.image.source }}" class="ic-image">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-10 col-xs-offset-2">
                <div class="questions">
                    <div class="q-question" *ngFor="#sq of qsec.getQuestions()">
                        <div class="form-group">
                            <div class="col-xs-12  col-md-2">
                                <button type="button" class="btn btn-default move-form-question-button">
                                    <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
                                </button>
                                <button (click)="qsec.removeQuestion(sq)" type="button" class="btn btn-default remove-form-question-button">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                                <button (click)="sq.collapse()" type="button" class="btn btn-default collapse-form-button" data-toggle="collapse" [attr.data-target]="'#collapsed-container-' + sq.cid">
                                    <span class="glyphicon" [class.glyphicon-triangle-bottom]="!sq.collapsed" [class.glyphicon-triangle-right]="sq.collapsed" area-hidden="true"></span>
                                    <span class="q-question-collapse-button-title">{{ sq.id }}</span>
                                </button>
                            </div>
                            <div class="col-xs-12  col-md-10">
                                <textarea [(ngModel)]="sq.text" class="form-control q-question-name" placeholder="name">{{ sq.text }}</textarea>
                            </div>
                        </div>

                        <div id="collapsed-container-{{ sq.cid }}" class="collapse in q-question-collapsible-container">
                            <div class="form-group">
                                <div class="col-xs-10 col-xs-offset-2">
                                    <div class="checkbox">
                                        <label>
                                            <input [(ngModel)]="sq.checked" type="checkbox" class="q-question-enabled">Enabled
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-10 col-xs-offset-2">
                                    <div class="checkbox">
                                        <label>
                                            <input [(ngModel)]="sq.required" type="checkbox" class="q-question-required">Required
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-2 control-label">Id</label>
                                <div class="col-xs-10">
                                    <input [(ngModel)]="sq.id" type="text" class="form-control q-question-id" placeholder="id" [attr.area-describedby]="'view-' + sq.cid + '-idHelpBlock'">
                                    <span id="view-{{ sq.cid }}-idHelpBlock" class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-2 control-label">ChoiceType</label>
                                <div class="col-xs-10">
                                    <select [(ngModel)]="sq.choiseType" name="choiceType" class="form-control q-question-choice-type">
                                        <!--<option value="m" <%= choiceType === 'm' ? 'selected' : '' %> >Multiple</option>
                                        <option value="s" <%= choiceType === 's' ? 'selected' : '' %> >Single</option>-->
                                        <!--@todo choise type ofr question-->
                                        <option value="m">Multiple</option>
                                        <option value="s">Single</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-2 control-label">Formula</label>
                                <div class="col-xs-10">
                                    <input [(ngModel)]="sq.formula" type="text" class="form-control q-question-formula" placeholder="formula" [attr.aria-describedby]="'view-' + sq.cid + '-formulaHelpBlock'">
                                    <span id="view-{{ sq.cid }}-formulaHelpBlock" class="help-block"></span>
                                </div>
                            </div>

                            <div class="alert-options">

                                <div class="form-group">
                                    <label class="col-xs-3  col-md-2  control-label">AlertCondition</label>
                                    <div class="col-xs-9  col-md-10">
                                        <input [(ngModel)]="sq.alertOptions.condition" type="text" class="ac-alertCondition form-control" placeholder="alert condition" value="" [attr.aria-describedby]="'view-' + sq.cid +'-conditionHelpBlock'">
                                        <span id="view-{{ sq.cid }}-conditionHelpBlock" class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-xs-3  col-md-2  control-label">AlertText</label>
                                    <div class="col-xs-9  col-md-10">
                                        <input [(ngModel)]="sq.alertOptions.text" type="text" class="ac-alertText form-control" placeholder="alert text" value="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-xs-3  col-md-2  control-label">AlertType</label>
                                    <div class="col-xs-9  col-md-10">
                                        <select [(ngModel)]="sq.alertOptions.type" class="ac-alertType form-control">
                                            <option value="care" selected="">Care</option>
                                            <option value="technical" selected="">Technical</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-xs-3  col-md-2  control-label">AlertSeverity</label>
                                    <div class="col-xs-9  col-md-10">
                                        <select [(ngModel)]="sq.alertOptions.severity" class="ac-alertSeverity form-control">
                                            <option value="red" selected="">Red</option>
                                            <option value="yellow">Yellow</option>
                                            <option value="info">Info</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="image-component">
                                <div class="form-group" [class.has-error]="sq.image.hasError">
                                    <label class="col-xs-2 col-md-2 control-label">Image</label>
                                    <div class="col-xs-3 col-md-3">
                                        <input (change)="sq.imageFileChange($event)" type="file" class="ic-file" [attr.aria-describedby]="'view-' + sq.cid + '-fileHelpBlock'">
                                        <button (click)="sq.imageFileClear($event)" type="button" class="ic-clear-button">Clear</button>
                                        <span *ngIf="sq.image.hasError" id="view-{{ sq.cid }}-fileHelpBlock" class="help-block">
                                            File is not an image.
                                        </span>
                                    </div>
                                    <div class="col-xs-7 col-md-7 ic-image-container">
                                        <img *ngIf="sq.image.source" src="{{ sq.image.source }} " class="ic-image" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-10 col-xs-offset-2">
                                    <div class="answers">
                                        <div class="q-answer" *ngFor="#answer of sq.getAnswers()">
                                            <answer
                                                    [answerItem]="answer"
                                                    [parentQuestion]="sq"
                                            ></answer>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-2">
                                    <button (click)="sq.addAnswer()" type="button" class="q-add-answer btn btn-default">Add answer</button>
                                </div>
                                <div class="col-cs-10"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-2">
                <button (click)="qsec.addQuestion()" type="button" class="q-add-question btn btn-default">Add question</button>
            </div>
            <div class="col-xs-10">

            </div>
        </div>
    </div>
</div>
